/*
MSK IRIS config file
*/
profiles {
    iris {
        executor {
            name              = 'slurm'
            pollInterval      = '2 min'
            queueStatInterval = '5 min'
            submitRateLimit   = '20/1min'
            queueSize         = 200
            exitReadTimeout   = '10 min'
            dumpInterval      = '5 min'
            queueGlobalStatus = true
        }
        process {
            queue         = { task.time <= 2.h ? 'cpushort' : 'componc_cpu' }
            errorStrategy = {
                if (task.exitStatus in [143, 137, 104, 134, 139, 140, Integer.MAX_VALUE]) {
                    sleep(Math.pow(2, task.attempt) * 2000 as Integer)
                    return 'retry'
                }
                else {
                    return 'finish'
                }
            }
            maxRetries    = 2
            array         = 100
            cache         = 'lenient'
        }
    }
}
