/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {
    withName: BCFTOOLS_NORM {
        ext.args   = { '-m- --check-ref s' }
        ext.prefix = { "${meta.id}.norm" }
        publishDir = [
            path: { "${params.out}/bcftools_norm" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: SVTOOLS_VCFTOBEDPE {
        publishDir = [
            path: { "${params.out}/svtools_vcftobedpe" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    // set container for all other GRAFFITE processes
    withName: '!(.*SVTOOLS_VCFTOBEDPE.*|.*BCFTOOLS.*)' {
        container = 'library://cgroza/collection/graffite:latest'
    }
    // more resources for pangenie
    withName: pangenie {
        cpus       = { 16 }
        memory     = { 100.GB * task.attempt }
        time       = { 16.h * task.attempt }
        publishDir = [
            path: { "${params.out}/4_Genotyping" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
