/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {
    withName: BCFTOOLS_VIEW {
        ext.args   = { "-i 'ALT !~ \"^<\" && ALT !~ \"\\[\" && ALT !~ \"\\]\"'" }
        ext.prefix = { "${meta.id}.seqres_filtered" }
    }

    withName: BCFTOOLS_NORM {
        ext.args = { '-m- --check-ref s' }
    }
    // set container for all other GRAFFITE processes
    withName: '!(.*VCF_FILTER_NORM.*|.*BCFTOOLS.*)' {
        container = 'library://cgroza/collection/graffite:latest'
    }
    // set publishDir for VCF_FILTER_NORM process
    withName: '.*VCF_FILTER_NORM.*' {
        publishDir = [
            path: { "${params.out}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
